.card{
    background-color: #ffffff;
    color :	#bc4749;
    height: 160px;
    width: 120px;
    margin: 5px;;
    border: 1px solid #ff4d00;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    font-size: xx-large;
    transition: 0.5s linear!important;

}

.card:hover{
    transform: rotateY(30deg);
    transition: transform 0.5s linear;
}

